supervisor # for handle two or more services

django==4.2.6
django-cors-headers==3.11.0

whitenoise==6.5.0 # staticfiles

django-redis
redis

django-rq
rq

docker==4.4.1

# websocket
eventlet==0.33.3
dnspython==2.3.0
python-engineio==3.13.0
python-socketio==4.6.1
pytz==2018.7