{% for item in containers %}

{% if "docker-django-ui" not in item.attrs.Name %}

<tr>
   <td>{{item.attrs.Name|slice:"1:"}}</td>

   {% if item.image.tags.0 %}
   <td>{{item.image.tags.0}}</td>
   {% else %}
   <td> &lt;none&gt; </td>
   {% endif %}

   <td>{{item.short_id}}</td>
   <td>{{item.attrs.Config.Cmd.0}}</td>

   {% if item.status == "running" %}
   <td>
      <div class='d-flex'>
         <span class="btn btn-success btn-sm" id={{item.id}}-span>{{item.status}}</span>
      </div>
   </td>
   <td>
      <div class='d-flex'>
         <button class="btn btn-info btn-sm me-3"
            onclick=" window.open('/console/{{item.id}}') ">Console</button>
            <button class="btn btn-info btn-sm me-3"
            onclick=" window.open('/attach/{{item.id}}') ">Attach</button>
         <button data-id={{item.id}} class="btn btn-warning btn-sm"
            onclick="handleContainerAction(this,'stop')">Stop </button>
      </div>
   </td>
   {% else %}
   <td>
      <div class='d-flex'>
         <span class="btn btn-secondary btn-sm" id={{item.id}}-span>{{item.status}}</span>
      </div>
   </td>
   <td>
      <div class='d-flex'>

         <button data-id={{item.id}} class="btn btn-success btn-sm me-3"
            onclick="handleContainerAction(this,'start')">Start</button>
         <button data-id={{item.id}} class="btn btn-danger btn-sm"
            onclick="handleContainerAction(this,'remove')">Remove</button>
      </div>
   </td>
   {% endif %}
</tr>

{% endif %}
{% endfor %}