{% for item in images %}
{% if item.tags.0 != "docker-django-ui-web-image:latest" %}

<tr>
   {% if item.tags.0 %}
   <td>{{item.tags.0}}</td>
   {% else %}
   <td> &lt;none&gt; </td>
   {% endif %}

   <td>{{item.short_id|slice:"7:"}}</td>
   <td>{% widthratio item.attrs.Size 1048576 1 %} MB</td>
   <td class='d-flex'>
      <!-- using custom attribute data-text to save the default text value of the button-->
      <button id={{item.short_id|slice:"7:"}} data-text="Run" class="btn btn-sm btn-primary me-4"
         onclick="handleImageAction(this, 'run')">Run</button>
      <button id={{item.short_id|slice:"7:"}} data-text="Remove" class="btn btn-sm btn-danger"
         onclick="handleImageAction(this, 'remove')">Remove</button>
   </td>
</tr>
{% endif %}

{% endfor %}
