<!doctype html>
<html lang="en" style="height: 100%; margin: 0;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Console</title>

  <link rel="stylesheet" href="https://unpkg.com/xterm@3.6.0/dist/xterm.css" />

  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/console.css' %}">

  <script src="https://unpkg.com/xterm@3.6.0/dist/xterm.js"></script>
  <script src="https://unpkg.com/xterm@3.6.0/dist/addons/fit/fit.js"></script>
  <script src="https://unpkg.com/xterm@3.6.0/dist/addons/fullscreen/fullscreen.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <nav class="navbar">
    <span>Status: <span id="status">connecting...</span></span>
    <span id="console-info"></span>
  </nav>

  <div class="terminal-wrapper">
    <div id="terminal"></div>
  </div>
</body>

{% block scripts %}
<script src="{% static 'js/helper.js' %}"></script>
<script src="{% static 'js/console.js' %}"></script>
{% endblock %}

</html>