{% extends 'base.html' %}

{% block title %}Containers{% endblock %}

{% block content %}
<div class="mx-5">
   <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="d-flex align-items-center">
         <h2>Containers</h2>
         <div class="websocket-status ml-2" id="websocket-status"></div>
      </div>
      <button class="btn btn-secondary" id="refresh" onclick="fetchAndDisplayContainers()">Refresh</button>
   </div>
   <div class="table-responsive">
      <table class="table">
         <thead>
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Image</th>
               <th scope="col">ID</th>
               <th scope="col">Cmd</th>
               <th scope="col">Status</th>
               <th scope="col">Actions</th>
            </tr>
         </thead>
         <tbody id="containerTableBody">
         </tbody>
      </table>
   </div>
</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/containers.js' %}"></script>
{% endblock %}
