<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand fs-5" href="/">Django Docker GUI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link {% if request.path == '/containers' %}active{% endif %}" aria-current="page" href="/containers">Containers</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {% if request.path == '/images' %}active{% endif %}" href="/images">Images</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/browse">Docker Hub</a>
              </li>
          </ul>
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#" id="logoutButton">Logout</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<script>
  document.getElementById('logoutButton').addEventListener('click', function(event) {
    event.preventDefault();

    // Clear JWT from localStorage
    localStorage.removeItem('accessToken');
    localStorage.removeItem('refreshToken');

    // Redirect to the login page
    window.location.href = '/login';
  });

</script>